doctype html
html(lang='zh-CN')
	head
		meta(charset='utf-8')
	body(style='text-align:center;background-color:#fbfbfb')
		h2 个人信息
		hr
		table(border='1', align='center', valign='middle', style='word-break:break-all; word-wrap:break-word;')
			tr
				td Id
				td 姓名
				td 邮箱
				td 密码
				td 注册时间
			| {{range .users}}
			tr
				td {{.NodeIdentity}}
				td
					a(href='/user?id={{.NodeIdentity}}', target='_blank') {{.Properties.name}}
				td {{.Properties.email}}
				td {{.Properties.password}}
				td {{.Properties.time}}
			| {{end}}
