doctype html
html(lang='zh-CN')
	head
		meta(charset='utf-8')
	body(style='text-align:center;background-color:#fbfbfb')
		h2 个人信息
		table(border='1', align='center', valign='middle', style='word-break:break-all; word-wrap:break-word;')
			tr
				td Id
				td 姓名
				td 邮箱
				td 注册时间
			tr
				td {{.user.NodeIdentity}}
				td
					a(href='/user?id={{.user.NodeIdentity}}', target='_blank') {{.user.Properties.name}}
				td {{.user.Properties.email}}
				td {{.user.Properties.time}}

		p
			form(action='/account/logout', method='post')
				input(type='submit', value='注销')
		hr

		h2 你关注的人
		table(border='1', align='center', valign='middle', style='word-break:break-all; word-wrap:break-word;')
			tr
				td Id
				td 姓名
			| {{range .following}}
			tr
				td {{.NodeIdentity}}
				td
					a(href='/user?id={{.NodeIdentity}}', target='_blank') {{.Properties.name}}
			| {{end}}
		hr

		h2 关注你的人
		table(border='1', align='center', valign='middle', style='word-break:break-all; word-wrap:break-word;')
			tr
				td Id
				td 姓名
			| {{range .followed}}
			tr
				td {{.NodeIdentity}}
				td
					a(href='/user?id={{.NodeIdentity}}', target='_blank') {{.Properties.name}}
			| {{end}}
		hr

		h2 发新鲜事
		form(action='/moment', method='post')
			p 内容
				input(type='text', name='content', required='required')
			p
				input(type='submit', value='发送')

