<!DOCTYPE html>
<html>
<head>
	<title>Mini Blog</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<style type="text/css">
		.page-header{
			text-align: center;
			margin-top: 120px;
		}
		.page-header big{
			color: green;
		}
		.input-panel{
			/*background-color: gray;*/
			/*height: 350px;*/
			border: 1px solid gray;
			border-radius: 5px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Wellcome to <big>Mini Blog</big> !</h1>
		</div>
		<br />
		<div class="row">
			<div id="info" class="col-md-6 col-md-offset-3"></div>
		</div>
		<h2 style="text-align: center;">Log in</h2>
		<br />
		<br />
		<div class="row" class="input-panel">
			<form class="form-horizontal" role="form" action="account/login" method="POST">
				<div class="form-group">
					<label for="email" class="col-sm-offset-4 col-sm-1 control-label">Email:</label>
					<div class="col-sm-3">
						<input type="email" class="form-control" name="email" id="email" placeholder="Email" required="required">
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-offset-4 col-sm-1 control-label">Password:</label>
					<div class="col-sm-3">
						<input type="password" class="form-control" id="password" placeholder="Password" name="password" required="required">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-5 col-sm-3">
						<button type="submit" class="btn btn-primary btn-lg" style="float: left;">Log &nbsp;in</button>
						<a class="btn btn-default btn-lg" style="float: right;" href="signup.html">Sign up</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>
